body {
  font-family: Verdana, Tahoma, Arial, sans-serif;
}

h1 {
  color: purple;
}

#flippy-switches .switch {
  background-color: #eee;
  padding: 10px 20px;
}
#flippy-switches .switch:nth-child(2n) {
  background-color: #ddd;
}

#flippy-switches .switch .name {
  vertical-align: middle;
  display: inline-block;
  width: 250px;

  color: #090;
  font-size: 1.1em;
}

#flippy-switches .switch .config {
  vertical-align: middle;
  display: inline-block;
  width: 300px;
  height: 135px;

  color: blue;
  font-family: monospace;
  background: none;
  border: none;
}

#flippy-switches .switch .config,
#flippy-switches .switch .name {
  display: inline-block;
  vertical-align: middle;
}

.flippy-admin-message {
  border: 2px solid #eee;
  background-color: #eee;
  padding: 10px;
  display: none;

  cursor: pointer;
}
.flippy-admin-message.error {
  border-color: red;
  background-color: #fcc;
}
.flippy-admin-message h1 {
  color: grey;
  font-size: 1em;
  font-weight: bold;

  display: inline;
  margin-right: 20px;
}
.flippy-admin-message.error h1 {
  color: red;
}
.flippy-admin-message .switch-name {
  font-family: monospace;
}

#flippy-switches .controls {
  margin-bottom: 20px;
}

#flippy-switches .controls .extended {
  display: none;
}

#flippy-switches .new-switch-controls input.name {
  border: none;
  border-bottom: 1px solid black;
  color: blue;
  font-family: monospace;
  margin-right: 20px;
}

#flippy-switches .persist {
  display: inline-block;
}
#flippy-switches button {
  background: none;
  border-style: solid;
}
#flippy-switches .persist button:not(:last-child) {
  margin-right: 10px;
}
#flippy-switches button.save,
#flippy-switches input[type="submit"].save,
#flippy-switches button.confirm,
#flippy-switches .controls button.new-switch {
  border-color: #090;
  border-style: solid;
  color: #090;
  background: none;
}
#flippy-switches .persist button.cancel,
#flippy-switches .persist button.delete {
  border-color: #900;
  color: #900;
}

#flippy-switches button.show-more {
  border: none;
  background: none;
  color: blue;
  cursor: pointer;
  margin-top: 10px;
}
#flippy-switches .load-more:hover {
  text-decoration: underline;
}

#flippy-switches .condition-cfg {
  border-left: 2px solid;
  margin: 5px 5px 5px 15px;
  padding: 5px 5px 5px 15px;

  font-weight: bold;
  font-size: 12px;
}

#flippy-switches .condition-cfg.namespaced {
  border-color: #999;
  color: #999;
  background-color: #fff;
}
#flippy-switches .condition-cfg.equals {
  border-color: #009;
  color: #009;
  background-color: #eef;
}
#flippy-switches .condition-cfg.multi {
  border-color: #909;
  color: #909;
  background-color: #fef;
}
#flippy-switches .condition-cfg.not {
  border-color: #900;
  color: #900;
  background-color: #fee;
}

#flippy-switches .condition-cfg input:not(:first-child),
#flippy-switches .condition-cfg select:not(:first-child) {
  margin-left: 10px;
}

#flippy-switches .condition-cfg input:not([type]) {
  color: inherit;
  border: none;
  background: none;

  border-bottom: 1px solid;
  padding-left: 10px;
  font-family: monospace;
  font-size: 1.2em;
}
