body {
  background-color: #f9ffff;
  font-family: Verdana, Tahoma, Arial, sans-serif;
  padding: 0;
  margin: 0;
}

input:not([type]) {
  background: none;
}

header, footer {
  background-color: #90d0d0;
  color: #000090;

  text-align: center;
  width: 100%;
}
header {
  padding: 40px 0;
}
footer {
  padding: 20px 0;
}
footer a {
  color: #000090;
}

h1 {
  margin: 0;
  font-size: 1.6em;
}

#flippy-switches {
  margin: 20px 40px 100px 40px;
  max-width: 800px;
}

#flippy-switches .switch {
  background-color: #eee;
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 20px;
}

#flippy-switches .switch.compressed select,
#flippy-switches .switch.compressed button {
  display: none;
}

#flippy-switches .switch .name {
  display: block;
  width: 250px;

  margin-bottom: 10px;
  vertical-align: middle;

  color: #000099;
  font-size: 1.1em;
}

.flippy-admin-message {
  border: 2px solid #eee;
  background-color: #eee;
  padding: 10px;
  display: none;

  cursor: pointer;
}
.flippy-admin-message.error {
  border-color: red;
  background-color: #fcc;
}
.flippy-admin-message h1 {
  color: grey;
  font-size: 1em;
  font-weight: bold;

  display: inline;
  margin-right: 20px;
}
.flippy-admin-message.error h1 {
  color: red;
}
.flippy-admin-message .switch-name {
  font-family: monospace;
}

#flippy-switches .controls {
  margin-bottom: 20px;
}

#flippy-switches .controls .extended {
  display: none;
}

#flippy-switches .new-switch-controls input.name {
  border: none;
  border-bottom: 1px solid black;
  color: blue;
  font-family: monospace;
  margin-right: 20px;
}

#flippy-switches .persist {
  display: block;
  margin-top: 10px;
}
button {
  background: none;
  border-style: solid;
}

button.themed-button {
  background: #90d0d0;
  border-radius: 20px;
  border: none;
  color: #000090;
  font-weight: bold;
  padding: 5px 10px;
  cursor: pointer;
}
button.themed-button.cancel {
  background-color: #d0d0d0;
}

#flippy-switches .persist button:not(:last-child) {
  margin-right: 10px;
}
#flippy-switches button.save,
#flippy-switches input[type="submit"].save,
#flippy-switches button.confirm {
  border-color: #090;
  border-style: solid;
  color: #090;
  background: none;
}
#flippy-switches .persist button.cancel,
#flippy-switches .persist button.delete {
  border-color: #900;
  color: #900;
}

#flippy-switches button.show-more {
  border: none;
  background: none;
  color: blue;
  cursor: pointer;
  margin-top: 10px;
}
#flippy-switches .load-more:hover {
  text-decoration: underline;
}

#flippy-switches .condition-cfg {
  border-left: 2px solid;
  margin: 5px 5px 5px 15px;
  padding: 5px 5px 5px 15px;

  font-weight: bold;
  font-size: 12px;
}

#flippy-switches .condition-cfg.namespaced {
  border-color: #999;
  color: #999;
  background-color: #fff;
}
#flippy-switches .condition-cfg.equals,
#flippy-switches .condition-cfg.oneof {
  border-color: #009;
  color: #009;
  background-color: #eef;
}
#flippy-switches .condition-cfg.iprange,
#flippy-switches .condition-cfg.regex,
#flippy-switches .condition-cfg.substring,
#flippy-switches .condition-cfg.value-range {
  border-color: #099;
  color: #099;
  background-color: #eff;
}
#flippy-switches .condition-cfg.multi {
  border-color: #909;
  color: #909;
  background-color: #fef;
}
#flippy-switches .condition-cfg.not {
  border-color: #900;
  color: #900;
  background-color: #fee;
}

#flippy-switches .condition-cfg.always-on {
  border-color: #090;
  color: #090;
  background-color: #efe;
}

#flippy-switches .condition-cfg.proportion {
  border-color: #990;
  color: #990;
  background-color: #ffe;
}

#flippy-switches .condition-cfg.always-off {
  border-color: #900;
  color: #900;
  background-color: #fee;
}

#flippy-switches .condition-cfg input:not(:first-child),
#flippy-switches .condition-cfg select:not(:first-child) {
  margin-left: 10px;
}

#flippy-switches .condition-cfg input:not([type]) {
  color: inherit;
  border: none;

  border-bottom: 1px solid;
  padding-left: 10px;
  font-family: monospace;
  font-size: 1.2em;
}

#flippy-switches .condition-cfg .on-off {
  margin-right: 20px;
}
#flippy-switches .condition-cfg .fallback {
  max-width: 160px;
}

#flippy-switches .main-condition-selector {
  margin-bottom: 10px;
}

#flippy-switches .condition-cfg.oneof .value-list .value {
  margin: 0 10px 0 0;
}
#flippy-switches .condition-cfg.oneof button {
  margin-top: 10px;
}
#flippy-switches .condition-cfg.raw-json {
  border-color: black;
  color: black;
  background-color: #f9ffff;
}
#flippy-switches .condition-cfg.raw-json textarea {
  display: block;
  width: 90%;
  height: 300px;
  font-family: monospace;
  border: 1px solid black;
}

#flippy-switches .spinner {
  width: 60px;
}

#modal-dialog {
  display: none;
  position: fixed;
  top: 200px;
  left: 100px;
  right: 100px;
  z-index: 50;

  padding: 20px;

  background: #eee;
  border: 2px solid #90d0d0;
  border-radius: 20px;
}

#modal-dialog h1 {
  font-size: 1.4em;
  color: #000090;
}

#modal-dialog textarea {
  display: block;
  margin: 20px 0;
  width: 100%;
  height: 300px;

  font-family: monospace;
}
#modal-dialog .controls button:not(:first-child) {
  margin-left: 20px
}

@media (max-width: 600px) {
  #modal-dialog {
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
  }
}
